### Loading the Standard Libraries

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('zomato.csv',encoding= 'latin1')
data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [22]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

#### Total columns present in the data

In [4]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

### Total rows and columns in the data

In [5]:
data.shape

(9551, 21)

#### Observation:
         - Total numof rows 9551 and 21 columns in the data

### Deleting unnecessary columns in the data

In [23]:
col_to_del = ['Country Code', 'Address','Locality', 'Locality Verbose','Longitude', 'Latitude','Switch to order menu', 'Rating color']
col_to_del

['Country Code',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Switch to order menu',
 'Rating color']

In [25]:
updated_data = data.drop(col_to_del,axis = 1)
updated_data

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,6317637,Le Petit Souffle,Makati City,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Excellent,591
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,Very Good,270
3,6318506,Ooma,Mandaluyong City,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Excellent,365
4,6314302,Sambo Kojin,Mandaluyong City,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,ÛÁstanbul,Turkish,80,Turkish Lira(TL),No,No,No,3,4.1,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,ÛÁstanbul,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,3,4.2,Very Good,1034
9548,5915807,Huqqa,ÛÁstanbul,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,4,3.7,Good,661
9549,5916112,Aôôk Kahve,ÛÁstanbul,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,4,4.0,Very Good,901
9550,5927402,Walter's Coffee Roastery,ÛÁstanbul,Cafe,55,Turkish Lira(TL),No,No,No,2,4.0,Very Good,591

In [26]:
updated_data.head()

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,6317637,Le Petit Souffle,Makati City,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Excellent,591
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,Very Good,270
3,6318506,Ooma,Mandaluyong City,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Excellent,365
4,6314302,Sambo Kojin,Mandaluyong City,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Excellent,229

In [27]:
updated_data.columns

Index(['Restaurant ID', 'Restaurant Name', 'City', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Price range',
       'Aggregate rating', 'Rating text', 'Votes'],
      dtype='object')

In [33]:
updated_data.shape

(9551, 13)

### Proportion of Excellent rating of restuarent

In [28]:
data['Rating text'].value_counts(normalize = True) * 100

Average      39.126793
Not rated    22.489792
Good         21.987226
Very Good    11.297246
Excellent     3.151502
Poor          1.947440
Name: Rating text, dtype: float64

In [35]:
updated_data[updated_data['Rating text'] == 'Excellent']

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,6317637,Le Petit Souffle,Makati City,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Excellent,591
3,6318506,Ooma,Mandaluyong City,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Excellent,365
4,6314302,Sambo Kojin,Mandaluyong City,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Excellent,229
8,6300010,Spiral - Sofitel Philippine Plaza Manila,Pasay City,"European, Asian, Indian",6000,Botswana Pula(P),Yes,No,No,4,4.9,Excellent,621
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9537,5904116,J'adore Chocolatier,ÛÁstanbul,Desserts,50,Turkish Lira(TL),No,No,No,2,4.7,Excellent,1311
9538,5901782,Starbucks,ÛÁstanbul,Cafe,30,Turkish Lira(TL),No,No,No,2,4.9,Excellent,1042
9540,5927248,Draft Gastro Pub,ÛÁstanbul,Bar Food,130,Turkish Lira(TL),No,No,No,4,4.9,Excellent,522
9543,5916085,Dem Karakí_y,ÛÁstanbul,Cafe,35,Turkish Lira(TL),No,No,No,2,4.5,Excellent,761
9544,5915547,Karakí_y Gí_llí_oÛôlu,ÛÁstanbul,"Desserts, Bí_rek",40,Turkish Lira(TL),No,No,No,2,4.7,Excellent,1305

### Observation:
- There is 39% of average ratings for the restaurants
- there is only 3% of restaurants having ratings Excellent
-11 % of restaurants having very good rating

### Total count of restuarants having aggregate rating greater than or equal to 4

In [38]:
 updated_data[updated_data[ 'Aggregate rating'] >= 4]['Restaurant Name'].count()

1380

### Analyzing city variable

In [40]:
updated_data['City'].value_counts()

New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: City, Length: 141, dtype: int64

### Proportion of Text Ratings in New Delhi

In [41]:
updated_data[updated_data['City'] == 'New Delhi']['Rating text'].value_counts(normalize = True) * 100 # percentage

Average      45.587429
Not rated    26.036908
Good         20.610269
Very Good     5.481454
Poor          1.772337
Excellent     0.511602
Name: Rating text, dtype: float64

### Count of restuarents in New Delhi with aggregate rating >=4

In [44]:
updated_data[(updated_data['City'] == 'New Delhi') & (updated_data['Aggregate rating'] >=4)]['Restaurant Name'].count()

328

In [53]:
updated_data[['Restaurant Name','Cuisines']]

               Restaurant Name                          Cuisines
0             Le Petit Souffle        French, Japanese, Desserts
1             Izakaya Kikufuji                          Japanese
2       Heat - Edsa Shangri-La  Seafood, Asian, Filipino, Indian
3                         Ooma                   Japanese, Sushi
4                  Sambo Kojin                  Japanese, Korean
...                        ...                               ...
9546              NamlÛ± Gurme                           Turkish
9547             Ceviz AÛôacÛ±   World Cuisine, Patisserie, Cafe
9548                     Huqqa            Italian, World Cuisine
9549              Aôôk Kahve                   Restaurant Cafe
9550  Walter's Coffee Roastery                              Cafe

[9551 rows x 2 columns]

In [61]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [63]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [64]:
col_del= ['Country Code', 'Address','Locality', 'Locality Verbose','Longitude', 'Latitude','Switch to order menu', 'Rating color']
col_del

['Country Code',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Switch to order menu',
 'Rating color']

In [66]:
data1 = data.drop(col_del,axis = 1)
data1

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,6317637,Le Petit Souffle,Makati City,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Excellent,591
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,Very Good,270
3,6318506,Ooma,Mandaluyong City,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Excellent,365
4,6314302,Sambo Kojin,Mandaluyong City,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,ÛÁstanbul,Turkish,80,Turkish Lira(TL),No,No,No,3,4.1,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,ÛÁstanbul,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,3,4.2,Very Good,1034
9548,5915807,Huqqa,ÛÁstanbul,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,4,3.7,Good,661
9549,5916112,Aôôk Kahve,ÛÁstanbul,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,4,4.0,Very Good,901
9550,5927402,Walter's Coffee Roastery,ÛÁstanbul,Cafe,55,Turkish Lira(TL),No,No,No,2,4.0,Very Good,591

In [68]:
data1['Currency'].value_counts()

Indian Rupees(Rs.)        8652
Dollar($)                  482
Pounds(£)                  80
Brazilian Real(R$)          60
Emirati Diram(AED)          60
Rand(R)                     60
NewZealand($)               40
Turkish Lira(TL)            34
Botswana Pula(P)            22
Indonesian Rupiah(IDR)      21
Qatari Rial(QR)             20
Sri Lankan Rupee(LKR)       20
Name: Currency, dtype: int64

In [97]:
zomato_india1 = data1[data1['Currency'] == 'Indian Rupees(Rs.)']
zomato_india1

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
624,3400025,Jahanpanah,Agra,"North Indian, Mughlai",850,Indian Rupees(Rs.),No,No,No,3,3.9,Good,140
625,3400341,Rangrezz Restaurant,Agra,"North Indian, Mughlai",700,Indian Rupees(Rs.),No,No,No,2,3.5,Good,71
626,3400005,Time2Eat - Mama Chicken,Agra,North Indian,500,Indian Rupees(Rs.),No,No,No,2,3.6,Good,94
627,3400021,Chokho Jeeman Marwari Jain Bhojanalya,Agra,Rajasthani,400,Indian Rupees(Rs.),No,No,No,2,4.0,Very Good,87
628,3400017,Pinch Of Spice,Agra,"North Indian, Chinese, Mughlai",1000,Indian Rupees(Rs.),No,No,No,3,4.2,Very Good,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9271,2800100,D Cabana,Vizag,"Continental, Seafood, Chinese, North Indian, B...",600,Indian Rupees(Rs.),No,No,No,2,3.6,Good,193
9272,2800418,Kaloreez,Vizag,"Cafe, North Indian, Chinese",400,Indian Rupees(Rs.),No,No,No,2,3.7,Good,85
9273,2800881,Plot 17,Vizag,"Burger, Pizza, Biryani",600,Indian Rupees(Rs.),No,No,No,2,4.3,Very Good,172
9274,2800042,Vista - The Park,Vizag,"American, North Indian, Thai, Continental",1500,Indian Rupees(Rs.),No,No,No,4,3.8,Good,74
9275,2800019,Flying Spaghetti Monster,Vizag,Italian,1400,Indian Rupees(Rs.),No,No,No,3,4.4,Very Good,316

## Total count of Cuisines in the Indian Restuarants

In [98]:
zomato_india1['Cuisines'].unique()

array(['North Indian, Mughlai', 'North Indian', 'Rajasthani', ...,
       'Continental, Seafood, Chinese, North Indian, Biryani',
       'Burger, Pizza, Biryani',
       'American, North Indian, Thai, Continental'], dtype=object)

In [100]:
zomato_india1['Cuisines'].count()

8652

## How Many restaurants have online delivery

In [105]:
zomato_india1.groupby('Has Online delivery').agg('count')

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Is delivering now,Price range,Aggregate rating,Rating text,Votes
Has Online delivery,,,,,,,,,,,,
No,6229,6229,6229,6229,6229,6229,6229,6229,6229,6229,6229,6229
Yes,2423,2423,2423,2423,2423,2423,2423,2423,2423,2423,2423,2423

In [108]:
zomato_india1.groupby('Has Online delivery')['Restaurant Name'].agg('count')

Has Online delivery
No     6229
Yes    2423
Name: Restaurant Name, dtype: int64

In [110]:
zomato_india1.groupby('Has Online delivery')['Restaurant Name'].agg('count') / len(zomato_india) * 100 # percentage

Has Online delivery
No     71.994914
Yes    28.005086
Name: Restaurant Name, dtype: float64

In [111]:
zomato_india1['City'].unique()

array(['Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Ghaziabad', 'Goa',
       'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur', 'Kanpur',
       'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore', 'Mohali',
       'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Noida',
       'Panchkula', 'Patna', 'Puducherry', 'Pune', 'Ranchi',
       'Secunderabad', 'Surat', 'Vadodara', 'Varanasi', 'Vizag'],
      dtype=object)

## Maximum cost for two per city

In [115]:
zomato_india1.groupby('City')[['Restaurant Name','Average Cost for two']].agg('max')

                             Restaurant Name  Average Cost for two
City
Agra                 Time2Eat - Mama Chicken                  3600
Ahmedabad                     Yanki Sizzlers                  1800
Allahabad                  The Tamarind Tree                  1000
Amritsar                   The Yellow Chilli                  1200
Aurangabad                    d' Curry House                  1800
Bangalore                           Truffles                  2400
Bhopal                           Violet Hour                  1800
Bhubaneshwar                      Tyre Patty                  1500
Chandigarh                  Virgin Courtyard                  2200
Chennai                        Writer's Cafe                  2000
Coimbatore                    Zucca Pizzeria                  1500
Dehradun                 Y Cafe & Restaurant                  1600
Faridabad                         Yummy Cake                  1900
Ghaziabad                      The Dosa King                  2500
Goa                    The Fisherman's Wharf                  2000
Gurgaon                             iKitchen                  5000
Guwahati                                Ziya                  1650
Hyderabad           United Kitchens of India                  2000
Indore                          Waffle House                  2000
Jaipur         Zolocrust - Hotel Clarks Amer                  2500
Kanpur        Waterside - The Landmark Hotel                  3000
Kochi                            Tonico Cafe                  1500
Kolkata                            What's Up                  1900
Lucknow                      Vintage Machine                  2000
Ludhiana                   The Yellow Chilli                  2000
Mangalore                 Village Restaurant                  1600
Mohali                     The Shooters Cafe                   550
Mumbai                       The Rolling Pin                  1500
Mysore                       Vinayaka Mylari                  1700
Nagpur                               Zaikart                  1600
Nashik                    White X Sky Lounge                  1500
New Delhi               {Niche} - Cafe & Bar                  8000
Noida                        Zooby's Kitchen                  3500
Panchkula                      Hops n Grains                  2000
Patna                      The Yellow Chilli                  1600
Puducherry                     Zuka Choco-la                  1500
Pune                       The Urban Foundry                  2100
Ranchi                   Yo China Restaurant                  2000
Secunderabad                  Saffron Mantra                   850
Surat                          World Platter                  1500
Vadodara                         Wok On Fire                  1500
Varanasi           eastWEST - Radisson Hotel                  1100
Vizag                       Vista - The Park                  1700

In [117]:
zomato_india1.groupby('City')[['Restaurant Name','Average Cost for two']].agg(['max','min'])

                             Restaurant Name  \
                                         max
City
Agra                 Time2Eat - Mama Chicken
Ahmedabad                     Yanki Sizzlers
Allahabad                  The Tamarind Tree
Amritsar                   The Yellow Chilli
Aurangabad                    d' Curry House
Bangalore                           Truffles
Bhopal                           Violet Hour
Bhubaneshwar                      Tyre Patty
Chandigarh                  Virgin Courtyard
Chennai                        Writer's Cafe
Coimbatore                    Zucca Pizzeria
Dehradun                 Y Cafe & Restaurant
Faridabad                         Yummy Cake
Ghaziabad                      The Dosa King
Goa                    The Fisherman's Wharf
Gurgaon                             iKitchen
Guwahati                                Ziya
Hyderabad           United Kitchens of India
Indore                          Waffle House
Jaipur         Zolocrust - Hotel Clarks Amer
Kanpur        Waterside - The Landmark Hotel
Kochi                            Tonico Cafe
Kolkata                            What's Up
Lucknow                      Vintage Machine
Ludhiana                   The Yellow Chilli
Mangalore                 Village Restaurant
Mohali                     The Shooters Cafe
Mumbai                       The Rolling Pin
Mysore                       Vinayaka Mylari
Nagpur                               Zaikart
Nashik                    White X Sky Lounge
New Delhi               {Niche} - Cafe & Bar
Noida                        Zooby's Kitchen
Panchkula                      Hops n Grains
Patna                      The Yellow Chilli
Puducherry                     Zuka Choco-la
Pune                       The Urban Foundry
Ranchi                   Yo China Restaurant
Secunderabad                  Saffron Mantra
Surat                          World Platter
Vadodara                         Wok On Fire
Varanasi           eastWEST - Radisson Hotel
Vizag                       Vista - The Park

                                                        Average Cost for two  \
                                                    min                  max
City
Agra                                       Bon Barbecue                 3600
Ahmedabad                      650 - The Global Kitchen                 1800
Allahabad                        Aryan Family's Delight                 1000
Amritsar                             Ahuja Milk Bhandar                 1200
Aurangabad                          Angeethi Restaurant                 1800
Bangalore                     AB's - Absolute Barbecues                 2400
Bhopal                                10 Downing Street                 1800
Bhubaneshwar                        99 North Restaurant                 1500
Chandigarh                              Barbeque Nation                 2200
Chennai                       AB's - Absolute Barbecues                 2000
Coimbatore                    24 Plus Cafe & Restaurant                 1500
Dehradun                                        Anandam                 1600
Faridabad                                   Aapki Rasoi                 1900
Ghaziabad                                 9 Mars Lounge                 2500
Goa                                             Antares                 2000
Gurgaon                             19 Flavours Biryani                 5000
Guwahati                        11th Avenue Cafe Bistro                 1650
Hyderabad                     AB's - Absolute Barbecues                 2000
Indore                                10 Downing Street                 2000
Jaipur                                         Blackout                 2500
Kanpur                             Anaicha's Food Joint                 3000
Kochi         Aangan - Downtown Multicuisine Restaurant                 1500
Kolkata                              6 Ballygunge Place                 1900
Lucknow                                         Bar Bar                 2000
Ludhiana                                   Aman Chicken                 2000
Mangalore                                           #45                 1600
Mohali                                The Shooters Cafe                  550
Mumbai                                   145 Kala Ghoda                 1500
Mysore                                  Barbeque Nation                 1700
Nagpur                                Ashoka Restaurant                 1600
Nashik                                            12212                 1500
New Delhi                                  #InstaFreeze                 8000
Noida                                      Let's Burrrp                 3500
Panchkula                                 Hops n Grains                 2000
Patna                                        17 Degrees                 1600
Puducherry                                 #Dilliwaala6                 1500
Pune                            18 Degrees Resto Lounge                 2100
Ranchi                                       7th Heaven                 2000
Secunderabad                                 Coffee Cup                  850
Surat                                      Black Pepper                 1500
Vadodara                                  22nd Parallel                 1500
Varanasi                     3Cherryz Sky Lounge & Cafe                 1100
Vizag                                       Alpha Hotel                 1700


               min
City
Agra             0
Ahmedabad      300
Allahabad        0
Amritsar       100
Aurangabad     300
Bangalore      400
Bhopal         200
Bhubaneshwar   300
Chandigarh     450
Chennai        350
Coimbatore     300
Dehradun         0
Faridabad      100
Ghaziabad      100
Goa            600
Gurgaon        100
Guwahati       300
Hyderabad      500
Indore         250
Jaipur         650
Kanpur           0
Kochi          350
Kolkata        800
Lucknow        200
Ludhiana       400
Mangalore      200
Mohali         550
Mumbai         500
Mysore         290
Nagpur         250
Nashik         100
New Delhi       50
Noida           50
Panchkula     2000
Patna          300
Puducherry     150
Pune           800
Ranchi         200
Secunderabad   800
Surat          250
Vadodara       300
Varanasi         0
Vizag          300

In [118]:
zomato_india[zomato_india['Average Cost for two'] >= 8000]

,Restaurant ID,Restaurant Name,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
7543,2701,Orient Express - Taj Palace Hotel,New Delhi,nan,8000,Indian Rupees(Rs.),Yes,No,No,4,4.0,Very Good,145